anonymous_enable={{anonymous_enable}}
no_anon_password={{no_anon_password}}
anon_root={{anon_root}}
local_enable={{local_enable}}
write_enable={{write_enable}}
chroot_local_user={{chroot_local_user}}
pam_service_name=vsftpd
pasv_enable=no

